<a href="https://colab.research.google.com/github/ThulinaWickramasinghe/DL_LAB_01/blob/main/DL_Lab_Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd


url = 'https://raw.githubusercontent.com/ThulinaWickramasinghe/DL_LAB_01/main/Au_nanoparticle_dataset.csv'
df = pd.read_csv(url)
df.drop(['N_total','N_bulk','N_surface','R_avg'], axis=1)

df.head(20)

,ID,T,tau,time,N_total,N_bulk,N_surface,Volume,R_min,R_max,...,q6q6_S14,q6q6_S15,q6q6_S16,q6q6_S17,q6q6_S18,q6q6_S19,q6q6_S20,q6q6_S20+,Total_E,Formation_E
0,1,273,0.000025,1,1599,1014,585,2.710000e-26,15.5898,19.4516,...,0,0,0,0,0,0,0,0,-5908.6345,343.4555
1,2,273,0.000025,2,1642,1034,608,2.780000e-26,15.3996,24.1755,...,0,0,0,0,0,0,0,0,-6035.4034,384.8166
2,3,273,0.000025,3,4637,3365,1272,7.850000e-26,21.9199,31.0305,...,0,0,0,0,0,0,0,0,-17330.1660,800.5040
3,4,273,0.000025,4,7189,5292,1897,1.220000e-25,23.2542,37.8795,...,0,0,0,0,0,0,0,0,-26937.2010,1171.7890
4,5,273,0.000025,5,11004,8508,2496,1.860000e-25,27.1200,39.7614,...,0,0,0,0,0,0,0,0,-41427.9010,1597.7390
5,6,273,0.000025,6,13375,10768,2607,2.260000e-25,33.2496,42.9612,...,0,0,0,0,0,0,0,0,-50687.6660,1608.5840
6,7,273,0.000025,7,13795,11155,2640,2.340000e-25,33.6164,41.6168,...,0,0,0,0,0,0,0,0,-52334.7900,1603.6600
7,8,273,0.000025,8,13947,11304,2643,2.360000e-25,34.5185,41.4386,...,0,0,0,0,0,0,0,0,-52912.3150,1620.4550
8,9,273,0.000025,9,14020,11357,2663,2.370000e-25,34.7525,41.5998,...,0,0,0,0,0,0,0,0,-53212.1320,1606.0680
9,10,273,0.000025,10,14056,11389,2667,2.380000e-25,34.7870,41.5401,...,0,0,0,0,0,0,0,0,-53347.8030,1611.1570
10,11,273,0.000050,1,1534,966,568,2.600000e-26,15.0408,18.6580,...,0,0,0,0,0,0,0,0,-5661.4037,336.5363
11,12,273,0.000050,2,1559,974,585,2.640000e-26,15.2500,20.1922,...,0,0,0,0,0,0,0,0,-5740.2743,355.4157
12,13,273,0.000050,3,4356,3099,1257,7.370000e-26,19.0905,31.4046,...,0,0,0,0,0,0,0,0,-16265.0840,766.8760
13,14,273,0.000050,4,6550,4675,1875,1.110000e-25,21.0893,43.3430,...,0,0,0,0,0,0,0,0,-24468.5800,1141.9200
14,15,273,0.000050,5,10175,7748,2427,1.720000e-25,23.0091,44.4712,...,0,0,0,0,0,0,0,0,-38240.1600,1544.0900
15,16,273,0.000050,6,12393,9842,2551,2.100000e-25,25.5699,40.2473,...,0,0,0,0,0,0,0,0,-46845.8610,1610.7690
16,17,273,0.000050,7,13207,10590,2617,2.240000e-25,29.4835,40.5452,...,0,0,0,0,0,0,0,0,-50040.1090,1599.2610
17,18,273,0.000050,8,13543,10937,2606,2.290000e-25,25.6333,40.6839,...,0,0,0,0,0,0,0,0,-51345.0440,1608.0860
18,19,273,0.000050,9,13713,11079,2634,2.320000e-25,25.4981,42.5402,...,0,0,0,0,0,0,0,0,-52018.5740,1599.2560
19,20,273,0.000050,10,13791,11151,2640,2.330000e-25,25.5924,41.2502,...,0,0,0,0,0,0,0,0,-52325.6640,1597.1460

In [ ]:

features = ['N_total','N_bulk','N_surface','R_avg']
df2 = pd.read_csv(url)[features]

#mean
df2.mean()